@model MvcConcepts.Models.Tickets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h4>Tickets</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Assignee)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Assignee.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Creator)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Creator.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketPriority)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketPriority.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketStatus)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketStatus.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketType)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketType.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Created)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Updated)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ProjectId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ProjectId)
                                </dd>

                            </dl>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                            <div>

                                @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                                {
                                    <input type="hidden" name="comment" />
                                    <div class="col-lg-12">
                                        <label>Write Comment:</label>
                                    </div>
                                    <textarea name="body" id="comment"></textarea>
                                    <div>
                                        <input type="submit" value="Submit Comment">
                                  </div>
                                }
                                @foreach (var item in Model.Comments)
                                {
                                    @Html.AntiForgeryToken()
                                    <p>
                                        By- @item.User.DisplayName |
                                        Comment-  @item.Comment    |
                                        Date- @item.Created
                                    </p>
                                }
                                @using (Html.BeginForm("Attachment", "Tickets", new { id = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="Attachment" />
                                    <div class=" col-lg-12">
                                        <label>Add attachment:</label>
                                    </div>
                                    <Input type="file" id="Attachment" name="image" />
                                    <div class="col-lg-12">
                                        <label>Description:</label>
                                    </div>
                                    <textarea name="Description" id="attachment"></textarea>
                                     <div>
                                        <input type="submit" value="submit">
                                    </div>
                                }
                                <div>
                                    @foreach (var item in Model.Attachments)
                                    {
                                    <p>
                                        Attachment - @item.FileUrl |
                                        Date- @item.Created
                                    </p>
                                    }
                                </div>

                                @using (Html.BeginForm("Edit", "Tickets", new { id = Model.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="hidden" name="Edit" />
                                    <label>History:</label>
                                }
                                <table class="table" id="table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Oldvalue
                                            </th>
                                            <th>
                                                New Value
                                            </th>
                                            <th>
                                                Property
                                            </th>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Changed
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.Histories)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OldValue)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NewValue)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Property)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Changed)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






